/* :root {
    --colorWhite: #ffffff;
    --colorBlack: #000000;
    --colorRed: red;
    --fontSize-sm: 16px;
    --fontFamily: 'Arial, Helvetica, sans-serif';
    --fontTitle: 'Arial';
    --fontBody: 'Helvetica';
} */

/* SignIn Component */

/* h1 {
    color: var(--colorRed);
} */


  *{
    margin:0;
    padding: 0;
    box-sizing: border-box
    
}




/* SignUp Component */



  
  nav {
   
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
  }
  nav ul li a {
    text-decoration: none;
    color: black;
  }
  
  

  .links :hover{
    background-color: #8B687F;
    padding: 0.5rem 1rem;
    color: white;
  }

  nav ul li {
    margin: 0rem 1rem;

    
  }




                               /* Home view */
.wrapper h1{
    text-align: center;
    margin-top: 2rem;
}
/* Account View */

                                    /* NEW TASK */
 .new-task{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
 }
 .input-field input {
padding: 1rem 5rem;
margin:1rem;


 }
 
.button-add{
 padding: 1rem 6rem;
 background-color: #C6ECAE;
border: none;
font-weight: bold;
}
.button-add:hover{
 background-color:  #b7ea97;
 
}

                                      /* LIST TASK */
.list-of-task{
    display: flex;
    flex-wrap: wrap;
    margin:2rem 2rem;
    align-items: center;
    justify-content: space-between;
}




                                     /* TASK ITEM */
.task-item{
/* border: solid 3px; 
border-color: #8B687F; */

  padding: 20px;
  box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1.5em #65083d;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
width: 40rem;
height: 15rem;
margin:1rem 1rem

}
 
.icon-edit  img{
    max-width: 25px;
    margin: 4px 10px;
}
.icon-delete{
  width: 50px;
}
.complete-task{
  width: 50px;
}

.edit-task-item{
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.edit-task-item button{
  background-color: #C6ECAE;
  border: none;
}
.edit-task-item-child{
  margin-bottom: 0.5rem;
}



                                     /* LOGO */

.logo{

display: flex;
justify-content: flex-start;
align-items: center;
margin:1rem 2rem;
                                                                       
}
                                   
.logo img{
 width: 60px;
 height: 60px;
 margin-right: 1rem;
}
.logo-title {
  text-decoration: none;
  
  
}
                                   
  .logo-text {
    font-family: 'Dancing Script', cursive;
    font-size: 35px;
    color: #65083d;
     
  }     
  
   /* INICIO-WEB */


   .nav-inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0rem 3rem 0rem 1rem;
   
}

.sign{
    padding: 1rem 2rem;
    border-radius: 10%;
    margin:0rem 1rem;
    text-decoration: none;
}  
.sign-none{
  background-color: #65083d;
  color: white;
}
.up{
    background-color: #65083d;
    color: white;
    
}
.up:hover {
    background-color: #ad156b;
}

.in{
    color:rgb(108, 106, 106)
}
.in:hover{
    background-color:rgb(225, 221, 221) ;
}
.button{
  padding: 0.5rem 2rem;
  background-color: #65083d;
  color: white;
  border: none;
}

/* ORGANIZE */

.organize-container{
display:flex;
align-content: center;

align-items: center;
margin-top: 2rem;
}

.organize{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:2rem 0rem;
    
    

}

.organize-img img{
 width: 60%;
}
.organize p {
    font-size:1.5rem;
    width: 80%;
    margin:2rem 0rem 2rem 0rem;

    line-height: 40px;
    
}
.organize-button{
  padding: 1.5rem 5rem;
}


.title-inicio{
    font-size: 2.5em;
    margin-bottom:1.5rem;
}


    /* TASK MANAGEMENT */
.task-management-container{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin:2rem 0rem; 
}
.cart{
    margin:2rem 4rem;
    box-sizing: border-box;
    max-width:20rem;
    max-height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 
}
.cart h3{
    font-size: 1.5rem;
    text-align: center;
    margin:1rem 
}
.cart p{
    font-size: 20px;
}
.cart img{
   
    object-fit:cover;
}


.task-management{
    display: flex;
    align-content: center;
   align-items: center;
}



  
   /* FORM SIGN IN -SIGN UP */


.form-sign-in{
  display: flex;
  flex-direction: column;

}
.form-sign-in div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.container-log{
  display: flex;
  justify-content: space-around;
  height: 100vh;
  margin:4rem 2rem
 
  
}
@media (min-width: 761px) {
.container-form{
  width:30%;
}
.trello-img{
  max-width: 60%;
  max-height: 60%;
  align-items: center;
  margin-bottom: 1rem;
}
}
.form-input input{
  padding: 1rem 0.5rem;
}
.button-sign{
  padding: 1rem 0.5rem;
  border: none;
}
.acount-p{
  margin-top: 1.5rem;
  
  
}
.acount-p a{ 
  text-decoration: none;
  color: #65083d;
}

.form-title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start{
  font-size: 30px;
}